# Fichiers de configuration locaux
.env
*.code-workspace

# Dépendances Node.js
node_modules/

# Fichiers uploadés par les utilisateurs
backend/uploads/

# Fichiers système macOS
.DS_Store

# Fichiers de log
*.log
nohup.out
